<ion-view view-title="Favoritos" class="favorites-page">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Edmilson Rodrigues</h2>
        <p>Partido: PSOL - Estado: PA</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Chico Alencar</h2>
        <p>Partido: PSOL - Estado: RJ</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Luisa Erundina</h2>
        <p>Partido: PCdoB - Estado: SP</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
